.sidebarChannel:hover >h4 {
    color: white;
    background-color: #40464b;
   
}

.sidebarChannel > h4{
    padding-left: 20px;
    background-color: #2f3135;
    display: flex;
    align-items: center;
    color: gray;
    cursor: pointer;
}
.sidebarChannel__hash{
    font-size: 30px;
    padding: 8px;
}
